<div class = "well">
	<h3>Add Candy</h3>  
	<%= form_for([@shop, @shop.candies.build]) do |f| %>
		<% if @shop.errors.any? %>
		    <% @shop.errors.full_messages.each do |message| %>
		      <li><%= message %></li>
		    <% end %>
		  <% end %>
		  
		<p>
			<%= f.label :name %><br>
			<%= f.text_field(:name,:required => true, :class => 'form-control') %>
		</p>
	  

		<p>
			<%= f.submit({:class => 'btn btn-primary'}) %>
		</p>
		 
	<% end %>

</div>
